* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    background-color: black;
    color: white;
    a{ color: aquamarine;
        font-size: 16px;
    }
    p {
        color: gray;
        font-size: 21px;
    }
    h2 {
        font-weight: 300;
        font-size: 42px;
    }
}

header {
    h1{ font-size: 50px;
        margin: 30px 0;
        
}
text-align: center;
}

body {
    text-align: center;
}

.video {
    margin-top: 20px;
    margin-bottom: 30px;
}

.image-text {
    h2 {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 20px;
    }
    img {
        margin-bottom: 20px;
    }
    max-width: 100%;
    height:auto;
}

.image-text img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.coming-soon {
    h2 {
        margin: 30px 0;
    }
}

footer {
text-align: right;
margin: 20px 10px 20px 0;
}

/* media querie mobile */

@media screen and (max-width: 600px) {
    header h1 {
       font-size: 30px; 
    }
    .image-text h2 {
        font-size: 24px;
    }
    .image-text p {
        font-size: 16px;
    }
    .image-text img {
        box-sizing: border-box;
        padding: 0 20px;
    }
    .coming-soon h2 {
        font-size: 24px;
    }
    footer p {
        font-size: 12px;
    }
}
